
/* Designe Körper*/
body{
  
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
    height: 100vh;
  
    

   background-image: url("Icons/background2.jpg");
   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/* Designe Navigationsleiste*/
nav{
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color: white;

}
nav ul{
    float: right;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    color: dodgerblue;
}

ul li a:hover{
    color: firebrick;
   
}
img{
   float: left;
    height: 45px;
   /* position: absolute; */
    
    margin-top: 10px;
    margin-left: 25px;
    
}

/* Kontentfläche*/
main{
    background-color: white;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;



    
}

main h4{
    color: firebrick;
}

.slideshow{
    background-size: cover;
   width: 50vw;
   height: 50vh;
   box-shadow: 0px 0px 10px gray;
   position: relative;
}

.main a {
   
}
.slide{
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    overflow: hidden;
}

.slide-bild {
    width: 100%;
    height: 100%;
}
.slide-textbereich {
   color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15% 0 15%;
}
.slide-ueberschrift {
    font-size: 2em;
    margin: 10px 0;
}

.slide-beschreibung {
    font-size: 1.4em;
    margin: 0;
}
.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
}

.pfeil:hover{
    color: white;
    cursor: pointer;
}

.pfeil-links{
    left: 0;
}
.pfeil-rechts{
    right: 0;

}

.indikatorenliste{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;

}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;

}

.foot{
  
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15% 0 15%;
    float: left;
}

.bildunten {
    float: left;
    height: 45px;
   /* position: absolute; */
    
    margin-top: 10px;
    margin-left: 25px;
}
.footer-ueberschrift {
    margin-left: 0;
}
.copyright{
    font-size: 10px;
    color: white;
}

.copyright li {
   
    list-style-type: none;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
}

.copyright li a{
    color: white;
    text-decoration: none;
}
.copyright li a:hover{
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
